.three-dots-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: gray; /* Màu sắc tùy chọn */
    font-size: 24px; /* Kích thước phù hợp */
    z-index: 1; /* Giá trị z-index để đảm bảo nổi lên trên hình ảnh */

}
.dropdown-toggle::after {
    display: none !important;
  }
//   .dropdown-toggle{
//     width: fit-content;
//   }

